<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calc 02 - 更正式的实现计算器的代码的思路，注意和06-calc2.html的示例的区别</title>
</head>
<!-- 2.ng-app指令 -->
<body ng-app="myApp" ng-controller="demoController">
    <input type="text" ng-model="A">+
    <input type="text" ng-model="B">
    <input type="button" value="=" ng-click="add()"><!--这里必须要加上小括号，否则不能正常执行-->
    <input type="text" ng-model="result">

    <!-- 1.引用angular.js -->
    <script src="node_modules/angular/angular.js"></script>
    <script>
        // 3.创建模块
        var app = angular.module('myApp',[]);

        // 4.创建控制器
        app.controller('demoController',function($scope){
            // 初始数据模型
            $scope.A=0;
            $scope.B=0;
            $scope.result=0;

            // 初始化行为模型  
            $scope.add=function(){
                $scope.result=($scope.A-0)+($scope.B-0);
            }
        })
    </script>
</body>
</html>